table {   
     text-align:center; 
   }

a:link 
{ 
 text-decoration:none; 
}


.lancamento {
	color: EE7600;
	font-family: calibri;
}

.promocao {
	color: red;
	font-family: calibri;
}

.marca-nome {
	font-family: arial;
	color: green;
}

.preco-lancamento {
	font-family: arial;
	color: green;
}

.preco-promocao {
	font-family: arial;
	color: red;
}
