body{   
 text-align: center;
}

#banner {
	border: solid 3px black;
	width: 750px;
	height: 100px;
    background-image: url("imagens/banner_cascagrossa.png");
}


#menu_global{
	border: solid 3px black;
	width:750px;
	height: auto;
	text-align: center;
}

#conteudo_especifico{
	border: solid 3px black;
	width:750px;
	height:auto;
	

}

#principal{
	width:750px;
	margin: auto;
	text-align: left;
}

#conteudo_especifico_demais_paginas{
	border: solid 3px black;
	width:750px;
	height:542px;
	text-align: left;
}

#menu_local{
	border: solid 3px black;
	width:150px;
	height: 542px;
	float:left;
	
}
