#menu_global ul {
	padding:0px;  
	margin:0px;
	list-style:none;
	font-family: arial;
}

#menu_global ul li {
	display: inline;
}

#menu_global ul li a {
	padding: 2px 10px;
	display: inline-block;
	text-decoration: none;
}

#menu_global ul li a:hover {
	background-color: black;
	color: white;
}

/* menu local */
#menu_local ul {
	padding:0px;
	margin:0px;
	list-style:none;
	text-align: center;
	font-family: arial;
}

#menu_local ul li{
	margin: 5px;
}

#menu_local ul li a {
	display: block;
	text-decoration: none;
}

#menu_local ul li a:hover {
	background-color: black;
	color: white;
}

tr{
	text-align:center;
}
