@charset:"UTF-8";
@font-face {
	font-family:'ocr-a-extended';
	src:url("../ocr-a-extended.ttf");
}
body {
    z-index:0;
    background-image:url("../thumb-1920-8886.jpg");
}
table#tabelaspec td.tt {
    text-align:center;
    font-size:28px;	
}
table#tabelaspec{
    padding:20px;
    z-index:1;
	border:3px solid #39ff14;
	border-spacing:0px;
	margin-left:auto;
	margin-right:auto;
    background-color:#000000;
    font-family:"ocr-a-extended";
}
table#tabelaspec td{
   color:#39ff14; 
   font-size:15px;
}

table#tabelaspec td.st{
   text-align:center;
   font-size:28px;
   font-color:#7fff00;
}


table#tabelaspec td.info{
   text-align:left;
}

table#tabelaspec td.co{
   text-align:left;
}
table#tabelaspec td.xp {
    text-align:center;
}
table#tabelaspec td.ob {
    text-align:justify;
}
.circle {
    background-color:#7fff00;
    border-radius:50%;
    width:150px;
    height:150px;
    overflow:hidden;
    position:relative;
}
.circle img{
    position:relative;
    bottom:0;
    width:100%;
}
